<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap/css//bootstrap.min.css">
    <link rel="stylesheet" href="../static/CSS/logOnStyle.css">
    <title>Success</title>
</head>
<body>
    <div class="container">
        <h1> okay! </h1>
        <form action="/auth/logout" method="POST">
            <button type="submit" class="btn btn-primary"> Выход </button>
        </form>
    </div>
</body>
</html>